Update_Zammad_Roles_by_Excel.json
{
  "name": "Update Zammad Roles by Excel",
  "nodes": [
    {
      "parameters": {},
      "id": "580d8a47-32cc-4976-a464-793523ae3d1e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "f37ea772-a953-4b5b-8e54-c76e42938544",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        760,
        140
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "email",
        "options": {}
      },
      "id": "60ab7913-d421-41cd-af04-ccec2ed6838e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1700,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68b32087-5e23-4590-8042-0061234ce479",
              "name": "zammad_base_url",
              "value": "-put-your-zammad-base-url-",
              "type": "string"
            },
            {
              "id": "7db7572e-2524-4f2a-a1d6-b44330662c30",
              "name": "zammad_api_key",
              "value": "-put-your-api-key-",
              "type": "string"
            },
            {
              "id": "240f4dc5-a070-4623-96e7-1e0750dbeba5",
              "name": "excel_source_url",
              "value": "-put-in-the-excel-http-source-for-download",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ad6719b4-95dc-419e-94cb-97039014be62",
      "name": "Basic Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        140
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "role_ids",
              "value": "={{ $json.role_ids }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "8f18e493-5dbe-4447-a422-450c610e9585",
      "name": "Zammad Univeral User Object",
      "type": "n8n-nodes-base.set",
      "position": [
        1020,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.excel_source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "5bc0a423-91bc-4b52-af05-2869223bbbff",
      "name": "Download Excel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        140
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "url": "={{ $('Basic Variables').item.json.zammad_base_url }}api/v1/users/search?query=email:{{ $json.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Basic Variables').item.json.zammad_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5962a7b-27d3-45f1-adc4-1abff5d1c990",
      "name": "Find Zammad User by email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -60
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Basic Variables').item.json.zammad_base_url }}/api/v1/users/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Basic Variables').item.json.zammad_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"role_ids\": [\n  {{ $json.role_ids }}\n  ]\n} ",
        "options": {}
      },
      "id": "0b8f5007-d28d-4406-a7ec-aa69d2b865d5",
      "name": "Update User Roles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        120
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Basic Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Zammad Univeral User Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update User Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic Variables": {
      "main": [
        [
          {
            "node": "Download Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zammad Univeral User Object": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find Zammad User by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Zammad User by email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Roles": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ded7e5c-c232-4513-97ba-15c6f39cfd19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "templateId": "2041",
    "instanceId": "494d0146a0f47676ad70a44a32086b466621f62da855e3eaf0ee51dee1f76753"
  },
  "id": "xzKlhjcc6QEzA98Z",
  "tags": []
}